
@{
    Layout = "_LayoutInterno";
}
<form>
    <div class="container">
        aqui se mostrarán los datos del comprobante y podrán seleccionar los jugadores que se acreditarán con el pago correspondiente
    </div>
</form>
