@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutInterno";
}
<form>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4></h4>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <select class="form-select">
                                <option></option>
                            </select>
                            <label>Equipo</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select">
                                <option></option>
                            </select>
                            <label>Tipo Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control"/>
                            <label>Tipo Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" />
                            <label>Paterno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" />
                            <label>Materno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" />
                            <label>Nombres</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select">
                                <option></option>
                            </select>
                            <label>Tipo pago</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" />
                            <label>Nombres</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive-lg mt-2">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <td>N°</td>
                        <td>Tipo Pago</td>
                        <td>Numero Operacion</td>
                        <td>Nombre club</td>
                        <td>Nombre Jugador</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</form>