@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutJugador";
}
<div class="container" style="border-left: 1px solid #dee2e6;border-right:1px solid #dee2e6;border-bottom:1px solid #dee2e6;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: -1rem;">
    <h4 class="mb-3">Documentos de Inscripción</h4>
    <p>Aquí para los documentos.</p>
</div>
