@{
    Layout = "_LayoutInterno";
}

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link @(ViewData["ActiveTab"]?.ToString() == "DatosGenerales" ? "active" : "")"
               asp-area="Interno" asp-controller="ListJugadores" asp-action="JugadorDatos">Datos Generales</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link @(ViewData["ActiveTab"]?.ToString() == "DocumentosInscripcion" ? "active" : "")"
               asp-area="Interno" asp-controller="ListJugadores" asp-action="JugadorDocumentos">Documentos Inscripción</a>
        </li>
    </ul>
</div>

<div class="tab-content mt-3">
    @RenderBody()
</div>